/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer; background: transparent;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@font-face {
	font-family: PFEncoreSansPro-Bold; 
	src: url(../fonts/PFEncoreSansPro-Bold.ttf);
}
@font-face {
    font-family: GothamPro-Bold;
    src: url(../fonts/GothamPro-Bold.ttf);
}
@font-face {
    font-family: PFEncoreSansPro-Thin;
    src: url(../fonts/PFEncoreSansPro-Thin.ttf);
}
@font-face {
    font-family: PFEncoreSansPro-Light;
    src: url(../fonts/PFEncoreSansPro-Thin.ttf);
}
@font-face {
    font-family: PFEncoreSansPro-Medium;
    src: url(../fonts/PFEncoreSansPro-Medium.ttf);
}
body {
    font-size: 15px;
}
.container {
    max-width: 940px;
    margin: 0 auto;
}
p, a {
    font-family: PFEncoreSansPro-Light;
}
p {
    color: #adadad;
}
h2 {
    position: relative;
    color: #868686;
    font-size: 28px;
    font-family: PFEncoreSansPro-Medium;
    text-transform: uppercase;
    text-align: center;
}
h2 span {
    color: #fc635e;
}
h3 {
    font-family: PFEncoreSansPro-Medium;
    color: #868686;
}
a {
    color: #fff;
    cursor: pointer;
}
.slider {
    position: absolute;
    left: calc( 50% - 14px );
    bottom: 20px;
}



.header {
    position: relative;
    height: 100vh;
    padding: 25px 0;
    background: url(../img/bg1.jpg) no-repeat;
    background-size: cover;
}

.head {
    margin-bottom: 186px;
}
.head__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .head__logo {
     height: 60px;
 }
.head__logo a {
    display: flex;
    align-items: center;
}

.head__logo a>p {
    color: #fff;
    font-family: GothamPro-Bold;
    font-size: 24px;
    margin-left: 45px;
}
.hexagon {
    position: relative;
    height: 60px;
    width: 0;
    border-right: 30px solid #fc645f;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.hexagon::before {
    content: '';
    position: absolute;
    height: 60px;
    width: 0;
    border-left: 30px solid #fc645f;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    left: 30px;
    top: -15px;
}
.hexagon p {
    font-family: PFEncoreSansPro-Bold;
    font-size: 36px;
    text-transform: uppercase;
    color: #0c252d;
    position: absolute;
    left: 19px;
    bottom: -3px;
}

/* ----------------- */

.menu__list li {
    display: inline;
    margin-left: 45px;
    text-transform: uppercase;
    font-size: 16px;
}

.menu__list li a {
    letter-spacing: 0.5px;
    transition-duration: 0.3s;
    font-family: PFEncoreSansPro-Thin;
} 

.menu__list li a:hover {
    border-bottom: 4px solid #fc635e;
    color: #fc635e;
    padding-bottom: 5px;
}

/* ----------------- */

.header__title {
    text-align: center;
    max-width: 940px;
}

.title__heading {
    color: #fff;
}

.title__heading h1 {
    position: relative;
    font-family: PFEncoreSansPro-Bold;
    text-transform: uppercase;
    font-size: 51px;
    margin-bottom: 20px;
}
.title__heading h1::before , .title__heading h1::after {
    content: '';
    display: block;
    width: 100%;
    max-width: 107px;
    height: 8px;
    background: #7d7d79;
    opacity: 70%;
    position: absolute;
    top: calc(50% - 4px);
}
.title__heading h1::after {
    content: '';
    right: 0;
}
.title__heading span {
    color: #fc635e;
}

.title__heading p {
    font-size: 24px;
    margin-bottom: 60px;
}
.title__but {
    position: relative;
    max-width: 450px;
    margin: 0 auto;
}
.title__but a {
    color: #fc635e;
    font-size: 24px;
    padding: 15px 33px;
    border: 2px solid #fc635e;
    border-radius: 7px;
    position: relative;
}
.title__but a::before {
    content: url(../img/mouse.png);
    position: absolute;
    top: calc(50% - 16px);
    right: -60px;
} 
 .title__but a::after {
    content: '';
    position: absolute;
    top: calc(50% - 0.5px);
    right: -135px;
    width: 100%;
    max-width: 70px;
    height: 42vh;
    border-top: 1px dashed #7d7d7d;
    border-right: 1px dashed #7d7d7d;
    border-width: 2px;
    border-radius: 0 28px;
} 
/* ----------------- */

.header .slider {
    bottom: 25px;
}

/* ----------------- */

.about {
    padding: 65px 0 15px;
    position: relative;
    z-index: 2;
    background: #fff;
}

.about__title {
    margin: 0 auto;
    max-width: 520px;
    text-align: center;
    margin-bottom: 80px;
}

.about__title h2::after {
    content: '';
    position: absolute;
    width: 337px;
    height: 1px;
    background: #adadad;
    bottom: -11px;
    left: calc( 50% - 168.5px);
}

.about__title p {
    font-size: 20px;
    margin-top: 28px;
    line-height: 26px;
}

.about__items {
    margin-bottom: 80px;
}
.items__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__item {
    max-width: 210px;
    text-align: center;
    padding-top: 135px;
    line-height: 18px;
}
.about__item h3 {
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    margin: 18px 0 30px;
}
.about__item h3::after {
    content: '';
    position: absolute;
    width: 54px;
    height: 1px;
    background: #adadad;
    bottom: -10px;
    left: calc( 50% - 27px );
}

.about__item1 {
    background: url(../img/clients.png) 50% 0 no-repeat;
}
.about__item2 {
    background: url(../img/branding.png) 50% 0 no-repeat;
}
.about__item3 {
    background: url(../img/marketing.png) 50% 0 no-repeat;
}
.about__item4 {
    background: url(../img/adv.png) 50% 0 no-repeat;
}

/* ----------------- */

.expand {
    position: relative;
    margin: 0 auto;
    padding: 90px 0 100px;
    text-align: center;
    background: url(../img/bg2.jpg) no-repeat;
    background-size: cover;
}

.expand__title {
    padding: 130px 0;
    border: 8px solid rgba(255, 255, 255, 0.1);
}

.expand__title h2 {
    font-family: PFEncoreSansPro-Bold;
    font-size: 51px;
    color: #fff;
    margin-bottom: 50px;
}

.expand__title a {
    font-size: 24px;
    color: #fc635e;
    border: 3px solid #fc635e;
    border-radius: 6px;
    padding: 15px 62px;
    transition-duration: 0.3s;
    letter-spacing: 0.5px;
}
.expand__title a:hover {
    color: #fff;
    background: #fc635e;
    border-color: #fe8682;
}


/* ----------------- */

.process {
    padding: 50px 0 85px;
    position: relative;
}

.process__title {
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
    margin-bottom: 60px;
}

.process__title h2::after {
    content: '';
    position: absolute;
    width: 184px;
    height: 1px;
    background: #adadad;
    bottom: -11px;
    left: calc( 50% - 92px );
}

.process__title p {
    font-size: 20px;
    margin-top: 30px;
}
/* ----------------- */

.process__steps {
    height: 550px;
    width: 100%;
}

.process__steps ul {
    position: relative;
}

.steps__items .step__item {
    position: absolute;
}

.steps__items .item1 {
    top: 95px;
    z-index: 2;
}

.steps__items .item-img {
    top: 241px;
    left: 42px;
}

.steps__items .item2 {
    top: 147px;
    left: 264px;
    z-index: 2;
}

.steps__items .item3 {
    left: 347px;
}

.steps__items .item4 {
    top: 63px;
    left: 518px;
}

.process__steps .step {
    position: relative;
    width: 174px; 
    height: 100.46px;
    background-color: #ffffff;
    margin: 50.23px 0;
    border-left: solid 4px #fc635d;
    border-right: solid 4px #fc635d;
}
.process__steps .step1 {
    border-left: solid 4px #adadad;
}
.process__steps .step2 {
    border-right: solid 4px #adadad;
}
.process__steps .step:before,
.process__steps .step:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 123.04px;
  height: 123.04px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 21.4817px;
}
.process__steps .step:before {
  top: -61.5183px;
  border-top: solid 5.6569px #fc635d;
  border-right: solid 5.6569px #fc635d;
}
.process__steps .step2:before {
    border-top: solid 5.6569px #fc635d;
    border-right: solid 5.6569px #adadad;
}

.process__steps .step:after {
  bottom: -61.5183px;
  border-bottom: solid 5.6569px #fc635d;
  border-left: solid 5.6569px #fc635d;
} 
.process__steps .step1::after {
    border-bottom: solid 5.6569px #adadad;
    border-left: solid 5.6569px #adadad;
}
.process__steps .step2::after {
    border-bottom: solid 5.6569px #adadad;
    border-left: solid 5.6569px #adadad;
}
.process__steps .step3::after {
    border-bottom: solid 5.6569px #adadad;
    border-left: none;
}
/* ----------------- */

.process__steps .step4 {
    position: relative;
    width: 300px; 
    height: 173.21px;
    background-color: #ffffff;
    margin: 86.60px 0;
    border-left: solid 4px #adadad;
    border-right: solid 4px #fc635d;
  }
  
  .process__steps .step4:before,
  .process__steps .step4:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 212.13px;
    height: 212.13px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 39.9340px;
  }
  
  .process__steps .step4:before {
    top: -106.0660px;
    border-top: solid 5.6569px #fc635d;
    border-right: solid 5.6569px #fc635d;
  }
  
  .process__steps .step4:after {
    bottom: -106.0660px;
    border-bottom: solid 5.6569px #fc635d;
    border-left: solid 5.6569px #adadad;
  }

/* ----------------- */
.step__img {
    position: relative;
    width: 262px; 
    height: 151.27px;
    margin: 75.63px 0;
    background-image: url(../img/stepimg.png);
    background-size: auto 293.2939px;
    background-position: center;
    border-left: solid 4px #adadad;
    border-right: solid 4px #adadad;
  }
  
  .hexTop,
  .hexBottom {
    position: absolute;
    z-index: 1;
    width: 185.26px;
    height: 185.26px;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 34.37px;
  }
  
  /*counter transform the bg image on the caps*/
  .hexTop:after,
  .hexBottom:after {
    content: "";
    position: absolute;
    width: 254.0000px;
    height: 146.64696837416494px;
    -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-73.3235px);
    -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-73.3235px);
    transform:          rotate(45deg) scaleY(1.7321) translateY(-73.3235px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  
  .hexTop {
    top: -92.6310px;
    border-top: solid 5.6569px #adadad;
    border-right: solid 5.6569px #fc635d;
  }
  
  .hexTop:after {
    background-position: center top;
  }
  
  .hexBottom {
    bottom: -92.6310px;
    border-bottom: solid 5.6569px #adadad;
    border-left: solid 5.6569px #adadad;
  }
  
  .hexBottom:after {
    background-position: center bottom;
  }
  
  .hexagon:after {
    content: "";
    position: absolute;
    top: 2.3094px;
    left: 0;
    width: 254.0000px;
    height: 146.6470px;
    z-index: 2;
    background: inherit;
  }

/* ----------------- */
.step__wrapper {
    position: relative;
    z-index: 2;
    max-width: 130px;
    margin: 0 auto;
}
.item4 .step__wrapper {
    max-width: 200px;
}

.step__content {
    position: absolute;
    top: -10px;
    line-height: 17px;
}

.step__content h3 {
    position: relative;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 17px;
}
.step__content h3::after {
    content: '';
    position: absolute;
    width: 76px;
    height: 1px;
    background: #adadad;
    bottom: -7px;
    left: calc( 50% - 38px );
}
.step__content h3 span{
    color: #fc635e;
}

.step img {
    position: absolute;
    z-index: 3;
    top: -19px;
    left: -19px; 
}
.step .step4__img {
    top: 234px;
    left: 126px;
}

/* ----------------- */

.lp, .adv, .mk {
    position: relative;
}

.we-do__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lp .we-do__row {
    margin-top: 80px;
}
.we-do__title h2::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 222px;
    background: #adadad;
    left: calc( 50% - 111px );
    bottom: -10px;

}

.we-do__topic {
    max-width: 377px;

}
.we-do__topic__right {
    text-align: right;
}

.we-do h3 {
    position: relative;
    font-family: PFEncoreSansPro-Medium;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 23px;
    padding: 0 20px;
}
.we-do__topic__left h3::before {
    content: '';
    position: absolute;
    height: 38px;
    width: 10px;
    background: #fc635e;
    top: calc( 50% - 19px );
    left: 0;
}
.we-do__topic__right h3::after {
    content: '';
    position: absolute;
    height: 38px;
    width: 10px;
    background: #fc635e;
    top: calc( 50% - 19px );
    right: 0;
}

.we-do__topic p {
    line-height: 24px;
    margin-bottom: 50px;
}

.we-do__topic a {
    padding: 10px 30px;
    font-size: 20px;
    background: #fc635e;
    border-radius: 8px;
}

.lp {
    padding: 60px 0 95px;
    background: #f2f2f2;
}
.adv {
    padding: 134px 0 152px;   
}
.mk {
    padding: 120px 0 130px;
    background: #f2f2f2;
}
/* ----------------- */ 

.portfolio {
    position: relative;
    padding: 80px 0 15px;
}

.prtf__title {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
}
.prtf__title h2::after {
    content: '';
    position: absolute;
    width: 142px;
    height: 1px;
    background: #adadad;
    bottom: -13px;
    left: calc( 50% - 71px );
}

/* ----------------- */ 

.prtf__controls {
    padding: 20px 12px;
    border-top: 1px solid #adadad;
    border-bottom: 1px solid #adadad;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prtf__controls button {
    position: relative;
    font-family: PFEncoreSansPro-Light;
    font-size: 20px;
    text-transform: uppercase;
    color: #fc635e;
}
.prtf__controls button::after {
    content: '';
    position: absolute;
    height: 15px;
    width: 1px;
    background: #adadad;
    transform: rotate(30deg);
    top: calc( 50% - 7.5px);
    right: -61px;
}
.prtf__controls button:last-child::after {
    content: '';
    display: none;
}

.container-filter {
    width: 100%;
    margin: 30px 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-filter div {
    width: 220px;
    height: 200px;
    background-size: cover;
    background-position: center center;
    margin: 10px;
}
.container-filter .ex1 {
    background-image: url(../img/prtf1.jpg);
}
.container-filter .ex2 {
    background-image: url(../img/prtf2.jpg);
}
.container-filter .ex3 {
    background-image: url(../img/prtf3.jpg);
}
.container-filter .ex4 {
    background-image: url(../img/prtf4.jpg);
}
.container-filter .ex5 {
    background-image: url(../img/prtf5.jpg);
}
.container-filter .ex6 {
    background-image: url(../img/prtf6.jpg);
}

.container-filter .fil {
    display: none;
    position: relative;
    margin: 0;
    background: url(../img/plus.png) rgba(255, 72, 72, 0.75);
    background-position: center;
    background-repeat: no-repeat;
}
.container-filter div:hover .fil {
    cursor: pointer;
    display: block;
}

.container-filter .fil p { 
    padding: 10px;
    font-family: PFEncoreSansPro-Bold;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.prtf__button {
    text-align: center;
    margin: 60px 0 70px;
}
.prtf__button a {
    background: #fc635e;
    font-size: 20px;
    padding: 15px 17px;
    border-radius: 5px;
}

/* ----------------- */ 

.team {
    position: relative;
    background: #f2f2f2;
    padding: 53px 0 40px;
}

.team__title {
    margin-bottom: 70px;
}

.team__title h2::after {
    content: '';
    position: absolute;
    width: 142px;
    height: 1px;
    background: #adadad;
    left: calc( 50% - 71px );
    bottom: -12px;
}

.team__content {
    margin-bottom: 70px;
}

.team__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.team__item {
    text-align: center;
    padding: 191px 0 0;
}
.team__item1 {
    background: url(../img/team-img1.png) 50% 0 no-repeat;
}
.team__item2 {
    margin-right: 51px;
    background: url(../img/team-img2.png) 50% 0 no-repeat;
}
.team__item3 {
    background: url(../img/team-img3.png) 50% 0 no-repeat;
}

.team__item h4 {
    font-family: PFEncoreSansPro-Medium;
    font-size: 28px;
    color: #565656;
}
.team__item h4 span{
    color: #fc635e;
}
.team__item p {
    font-size: 20px;
    margin: 11px 0;
}

.team__item__social a {
    margin-right: 14px;
}
.team__item__social a:last-child {
    margin-right: 0;
}

/* ----------------- */ 

.testimonials {
    padding: 53px 0 165px;
}

.testim__heading img {
    display: block;
    margin: 0 auto;
}

.testim__content {
    margin: 75px 0 0;
}

.testim__block {
    display: flex;
    align-items: center;
}

.testim__block p {
    max-width: 324px;
    line-height: 21px;
}

.testim__block img {
    margin: 0 65px 0 65px;
}

.testim__block h4 {
    font-size: 28px;
    font-family: PFEncoreSansPro-Medium;
    color: #818181;
    margin-bottom: 15px;
}

.testim__block h4 span {
    color: #fc635e;
}

.testim__block div p {
    font-size: 20px;
}

.testim__button {
    margin: 53px 0 0;
    display: flex;
    justify-content: center;
}

.testim__button button {
    margin-right: 20px;
}
.testim__button button:last-child {
    margin: 0;
}

/* ----------------- */ 

.footer {
    padding: 78px 0 42px;
    background: url(../img/footer-bg.jpg) no-repeat;
    background-size: cover;
}

.footer__logo {
    max-width: 200px;
    margin: 0 auto;
}
.footer__logo a {
    display: flex;
    align-items: center;
}

.footer__hexagon {
    position: relative;
    height: 90px;
    width: 0;
    border-right: 39px solid #fc645f;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
}
.footer__hexagon::before {
    content: '';
    position: absolute;
    height: 90px;
    width: 0;
    border-left: 39px solid #fc645f;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
    left: 39px;
    top: -23px;
}
.footer__hexagon p {
    font-family: PFEncoreSansPro-Bold;
    font-size: 51px;
    text-transform: uppercase;
    color: #323743;
    position: absolute;
    left: 25px;
    bottom: -3px;
}

.footer__logo__daisy {
    font-family: GothamPro-Bold;
    font-size: 31px;
    color: #fff;
    margin-left: 55px;
}

/* ----------------- */ 

@media (max-width: 991px) {
    .container {
        max-width: 850px;
    }
    .header h1::before , .header h1::after {
        display: none;
    }
    .testim__block img {
        margin: 0 21px 0 21px;
    }
}
@media (max-width: 888px) {
    .container {
        max-width: 720px;
        padding: 0 15px;
    }
    .items__row {
        flex-wrap: wrap;
    }
    .about__item {
        max-width: 45%;
        margin-bottom: 20px;
    }
    .process__steps {
        height: 470px;
    }
    .process__steps .item1 {
        top: 0;
        left: 50px;
    }
    .process__steps .item-img {
        display: none;
    }
    .process__steps .item2 {
        top: 147px;
        left: 136px;
    }
    .process__steps .item3 {
        left: 220px;
    }
    .process__steps .item4 {
        top: 110px;
        left: 306px;
    }
    .we-do__illus {
        max-width: 300px;
    }
    .lp .we-do__illus , .mk .we-do__illus {
        margin-top: 20px;
    }
    .testim__block {
        flex-direction: column;
    }
    .testim__block div {
        text-align: center;
        margin: 10px 0 12px;
    }
    .testim__block div h4 {
        margin-bottom: 5px;
    }
    .testim__block p {
        order: 3;
        max-width: 400px;
    }

}
@media (max-width: 666px) {
    .process__steps {
        height: 640px;
        position: relative;
    }
    .process__steps .item2 {
        top: 147px;
        left: 136px;
    }
    .process__steps__cont {
        position: absolute;
        left: 25%;
    }
    .process__steps .item3 {
        left: 52px;
        top: 294px;
        z-index: 2;
    }
    .process__steps .step3 {
        border-left: solid 4px #adadad;
    }
    .process__steps .step3:before {
        border-top: solid 5.6569px #adadad; 
    }
    .process__steps .step3::after {
        border-left: solid 5.6569px #adadad;    
    }
    .step3 .step3__img {
        left: 150px;
    }
    .process__steps .item4 {
        top: 441px;
        left: 137px;
        z-index: 3;
    }
    .item4 .step__wrapper {
        max-width: 130px;
    }
    .process__steps .step4 {
        position: relative;
        width: 174px;
        height: 100.46px;
        background-color: #ffffff;
        margin: 50.23px 0;
        border-left: solid 4px #fc635d;
        border-right: solid 4px #adadad;
    }
    .process__steps .step4:before,
    .process__steps .step4:after {
      content: "";
      position: absolute;
      z-index: 1;
      width: 123.04px;
      height: 123.04px;
      -webkit-transform: scaleY(0.5774) rotate(-45deg);
      -ms-transform: scaleY(0.5774) rotate(-45deg);
      transform: scaleY(0.5774) rotate(-45deg);
      background-color: inherit;
      left: 21.4817px;
    }
    .process__steps .step4:before {
        top: -61.5183px;
        border-top: solid 5.6569px #fc635d;
        border-right: solid 5.6569px #adadad;
    }
    .process__steps .step4:after {
        bottom: -61.5183px;
        border-bottom: solid 5.6569px #fc635d;
        border-left: solid 5.6569px #fc635d;
    }
    .step .step4__img {
        top: 83px;
        left: 149px;
    }
    .team__row {
        flex-direction: column;
    }
    .team__item {
        margin: 0 0 30px;
    }
    .team__item:last-child {
        margin: 0;
    }
}