/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@font-face {
	font-family: PFEncoreSansPro-Bold; 
	src: url(../fonts/PFEncoreSansPro-Bold.ttf);
}
@font-face {
    font-family: GothamPro-Bold;
    src: url(../fonts/GothamPro-Bold.ttf);
}
@font-face {
    font-family: PFEncoreSansPro-Thin;
    src: url(../fonts/PFEncoreSansPro-Thin.ttf);
}
@font-face {
    font-family: PFEncoreSansPro-Light;
    src: url(../fonts/PFEncoreSansPro-Thin.ttf);
}

.container {
    max-width: 940px;
    margin: 0 auto;
}
p, h3, a {
    font-family: PFEncoreSansPro-Light;
}
a {
    color: #fff;
}
.header {
    position: relative;
    height: 100vh;
    padding: 25px 0;
    background: url(../img/bg1.jpg) no-repeat;
    background-size: cover;
}
.head {
    margin-bottom: 186px;
}
.head__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .head__logo {
     height: 60px;
 }
.head__logo a {
    display: flex;
    align-items: center;
}

.head__logo a>p {
    color: #fff;
    font-family: GothamPro-Bold;
    font-size: 24px;
    margin-left: 45px;
}
.hexagon {
    position: relative;
    height: 60px;
    width: 0;
    border-right: 30px solid #fc645f;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.hexagon::before {
    content: '';
    position: absolute;
    height: 60px;
    width: 0;
    border-left: 30px solid #fc645f;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    left: 30px;
    top: -15px;
}
.hexagon p {
    font-family: PFEncoreSansPro-Bold;
    font-size: 36px;
    text-transform: uppercase;
    color: #0c252d;
    position: absolute;
    left: 19px;
    bottom: -3px;
}

/* ----------------- */

.menu__list li {
    display: inline;
    margin-left: 45px;
    text-transform: uppercase;
    font-size: 16px;
}

.menu__list li a {
    letter-spacing: 0.5px;
    transition-duration: 0.3s;
    font-family: PFEncoreSansPro-Thin;
} 

.menu__list li a:hover {
    border-bottom: 4px solid #fc635e;
    color: #fc635e;
    padding-bottom: 5px;
}

/* ----------------- */

.header__title {
    text-align: center;
    margin: 0 auto;
    max-width: 960px;
}

.title__heading {
    color: #fff;
}

.title__heading h1 {
    position: relative;
    font-family: PFEncoreSansPro-Bold;
    text-transform: uppercase;
    font-size: 51px;
    margin-bottom: 20px;
}
.title__heading h1::before , .title__heading h1::after {
    content: '';
    display: block;
    width: 100%;
    max-width: 107px;
    height: 8px;
    background: #7d7d79;
    opacity: 70%;
    position: absolute;
    top: calc(50% - 4px);
}
section {
    background: #000;
    padding: 100px;
}
.title__heading h1::after {
    content: '';
    right: 0;
}
.title__heading span {
    color: #fc635e;
}

.title__heading p {
    font-size: 24px;
    margin-bottom: 60px;
}
.title__but {
    position: relative;
    max-width: 450px;
    margin: 0 auto;
}
.title__but a {
    color: #fc635e;
    font-size: 24px;
    padding: 15px 33px;
    border: 2px solid #fc635e;
    border-radius: 7px;
    position: relative;
}
.title__but a::before {
    content: url(../img/mouse.png);
    position: absolute;
    top: calc(50% - 16px);
    right: -60px;
} 
 .title__but a::after {
    content: '';
    position: absolute;
    top: calc(50% - 0.5px);
    right: -135px;
    width: 100%;
    max-width: 70px;
    height: 70vh;
    border-top: 1px dashed #7d7d7d;
    border-right: 1px dashed #7d7d7d;
    border-width: 2px;
    border-radius: 0 28px;
} 
/* ----------------- */

.header__cursor {
    position: absolute;
    bottom: 25px;
    left: calc(50% - 14px);
}
/* ----------------- */
/* ----------------- */