/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@font-face {
	font-family: PFEncoreSansPro-Bold; 
	src: url(../fonts/PFEncoreSansPro-Bold.ttf);
}
@font-face {
    font-family: GothamPro-Bold;
    src: url(../fonts/GothamPro-Bold.ttf);
}
@font-face {
    font-family: PFEncoreSansPro-Thin;
    src: url(../fonts/PFEncoreSansPro-Thin.ttf);
}
@font-face {
    font-family: PFEncoreSansPro-Light;
    src: url(../fonts/PFEncoreSansPro-Thin.ttf);
}
@font-face {
    font-family: PFEncoreSansPro-Medium;
    src: url(../fonts/PFEncoreSansPro-Medium.ttf);
}
body {
    font-size: 15px;
}
.container {
    max-width: 940px;
    margin: 0 auto;
}
p, a {
    font-family: PFEncoreSansPro-Light;
}
p {
    color: #adadad;
}
h2 {
    color: #868686;
    font-size: 28px;
    font-family: PFEncoreSansPro-Medium;
    text-transform: uppercase;
}
h3 {
    font-family: PFEncoreSansPro-Medium;
    color: #868686;
}
a {
    color: #fff;
    cursor: pointer;
}
.slider {
    position: absolute;
    left: calc( 50% - 14px );
    bottom: 20px;
}



.header {
    position: relative;
    height: 100vh;
    padding: 25px 0;
    background: url(../img/bg1.jpg) no-repeat;
    background-size: cover;
}

.head {
    margin-bottom: 186px;
}
.head__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .head__logo {
     height: 60px;
 }
.head__logo a {
    display: flex;
    align-items: center;
}

.head__logo a>p {
    color: #fff;
    font-family: GothamPro-Bold;
    font-size: 24px;
    margin-left: 45px;
}
.hexagon {
    position: relative;
    height: 60px;
    width: 0;
    border-right: 30px solid #fc645f;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.hexagon::before {
    content: '';
    position: absolute;
    height: 60px;
    width: 0;
    border-left: 30px solid #fc645f;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    left: 30px;
    top: -15px;
}
.hexagon p {
    font-family: PFEncoreSansPro-Bold;
    font-size: 36px;
    text-transform: uppercase;
    color: #0c252d;
    position: absolute;
    left: 19px;
    bottom: -3px;
}

/* ----------------- */

.menu__list li {
    display: inline;
    margin-left: 45px;
    text-transform: uppercase;
    font-size: 16px;
}

.menu__list li a {
    letter-spacing: 0.5px;
    transition-duration: 0.3s;
    font-family: PFEncoreSansPro-Thin;
} 

.menu__list li a:hover {
    border-bottom: 4px solid #fc635e;
    color: #fc635e;
    padding-bottom: 5px;
}

/* ----------------- */

.header__title {
    text-align: center;
    max-width: 940px;
}

.title__heading {
    color: #fff;
}

.title__heading h1 {
    position: relative;
    font-family: PFEncoreSansPro-Bold;
    text-transform: uppercase;
    font-size: 51px;
    margin-bottom: 20px;
}
.title__heading h1::before , .title__heading h1::after {
    content: '';
    display: block;
    width: 100%;
    max-width: 107px;
    height: 8px;
    background: #7d7d79;
    opacity: 70%;
    position: absolute;
    top: calc(50% - 4px);
}
.title__heading h1::after {
    content: '';
    right: 0;
}
.title__heading span {
    color: #fc635e;
}

.title__heading p {
    font-size: 24px;
    margin-bottom: 60px;
}
.title__but {
    position: relative;
    max-width: 450px;
    margin: 0 auto;
}
.title__but a {
    color: #fc635e;
    font-size: 24px;
    padding: 15px 33px;
    border: 2px solid #fc635e;
    border-radius: 7px;
    position: relative;
}
.title__but a::before {
    content: url(../img/mouse.png);
    position: absolute;
    top: calc(50% - 16px);
    right: -60px;
} 
 .title__but a::after {
    content: '';
    position: absolute;
    top: calc(50% - 0.5px);
    right: -135px;
    width: 100%;
    max-width: 70px;
    height: 42vh;
    border-top: 1px dashed #7d7d7d;
    border-right: 1px dashed #7d7d7d;
    border-width: 2px;
    border-radius: 0 28px;
} 
/* ----------------- */

.slider .header__slider {
    bottom: 25px;
}

/* ----------------- */

.about {
    padding: 65px 0 15px;
    position: relative;
}

.about__title {
    margin: 0 auto;
    max-width: 520px;
    text-align: center;
    margin-bottom: 80px;
}
.about__title h2 {
    position: relative;
}
.about__title h2::after {
    content: '';
    position: absolute;
    width: 337px;
    height: 1px;
    background: #adadad;
    bottom: -11px;
    left: calc( 50% - 168.5px);
}

.about__title h2 span {
    color: #fc635e;
}
.about__title p {
    font-size: 20px;
    margin-top: 28px;
    line-height: 26px;
}

.about__items {
    margin-bottom: 80px;
}
.items__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__item {
    max-width: 210px;
    text-align: center;
    padding-top: 135px;
    line-height: 18px;
}
.about__item h3 {
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    margin: 18px 0 30px;
}
.about__item h3::after {
    content: '';
    position: absolute;
    width: 54px;
    height: 1px;
    background: #adadad;
    bottom: -10px;
    left: calc( 50% - 27px );
}

.about__item1 {
    background: url(../img/clients.png) 50% 0 no-repeat;
}
.about__item2 {
    background: url(../img/branding.png) 50% 0 no-repeat;
}
.about__item3 {
    background: url(../img/marketing.png) 50% 0 no-repeat;
}
.about__item4 {
    background: url(../img/adv.png) 50% 0 no-repeat;
}

/* ----------------- */

.expand {
    position: relative;
    margin: 0 auto;
    padding: 90px 0 100px;
    text-align: center;
    background: url(../img/bg2.jpg) no-repeat;
    background-size: cover;
}

.expand__title {
    padding: 130px 0;
    border: 8px solid rgba(255, 255, 255, 0.1);
}

.expand__title h2 {
    font-family: PFEncoreSansPro-Bold;
    font-size: 51px;
    color: #fff;
    margin-bottom: 50px;
}
.expand__title h2 span{
    color: #fc635e;
}

.expand__title a {
    font-size: 24px;
    color: #fc635e;
    border: 3px solid #fc635e;
    border-radius: 6px;
    padding: 15px 62px;
    transition-duration: 0.3s;
    letter-spacing: 0.5px;
}
.expand__title a:hover {
    color: #fff;
    background: #fc635e;
    border-color: #fe8682;
}


/* ----------------- */

.process {
    padding: 50px 0 85px;
    position: relative;
}

.process__title {
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
    margin-bottom: 60px;
}
.process__title h2 {
    position: relative;
}
.process__title h2::after {
    content: '';
    position: absolute;
    width: 184px;
    height: 1px;
    background: #adadad;
    bottom: -11px;
    left: calc( 50% - 92px );
}
.process__title span {
    color: #fc635e;
}
.process__title p {
    font-size: 20px;
    margin-top: 30px;
}
/* ----------------- */

.process__steps {
    height: 550px;
    width: 100%;
    margin: 0 auto;
}

.process__steps ul {
    position: relative;
    left: calc( 50% - 470px);
}

.steps__items .step__item {
    position: absolute;
}

.steps__items .item1 {
    top: 95px;
    z-index: 2;
}

.steps__items .item-img {
    top: 241px;
    left: 42px;
}

.steps__items .item2 {
    top: 147px;
    left: 264px;
    z-index: 2;
}

.steps__items .item3 {
    left: 347px;
}

.steps__items .item4 {
    top: 63px;
    left: 518px;
}

.process__steps .step {
    position: relative;
    width: 174px; 
    height: 100.46px;
    background-color: #ffffff;
    margin: 50.23px 0;
    border-left: solid 4px #fc635d;
    border-right: solid 4px #fc635d;
}
.process__steps .step1 {
    border-left: solid 4px #adadad;
}
.process__steps .step2 {
    border-right: solid 4px #adadad;
}
.process__steps .step:before,
.process__steps .step:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 123.04px;
  height: 123.04px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 21.4817px;
}
.process__steps .step:before {
  top: -61.5183px;
  border-top: solid 5.6569px #fc635d;
  border-right: solid 5.6569px #fc635d;
}
.process__steps .step2:before {
    border-top: solid 5.6569px #fc635d;
    border-right: solid 5.6569px #adadad;
}

.process__steps .step:after {
  bottom: -61.5183px;
  border-bottom: solid 5.6569px #fc635d;
  border-left: solid 5.6569px #fc635d;
} 
.process__steps .step1::after {
    border-bottom: solid 5.6569px #adadad;
    border-left: solid 5.6569px #adadad;
}
.process__steps .step2::after {
    border-bottom: solid 5.6569px #adadad;
    border-left: solid 5.6569px #adadad;
}
.process__steps .step3::after {
    border-bottom: solid 5.6569px #adadad;
    border-left: none;
}
/* ----------------- */

.process__steps .step4 {
    position: relative;
    width: 300px; 
    height: 173.21px;
    background-color: #ffffff;
    margin: 86.60px 0;
    border-left: solid 4px #adadad;
    border-right: solid 4px #fc635d;
  }
  
  .process__steps .step4:before,
  .process__steps .step4:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 212.13px;
    height: 212.13px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 39.9340px;
  }
  
  .process__steps .step4:before {
    top: -106.0660px;
    border-top: solid 5.6569px #fc635d;
    border-right: solid 5.6569px #fc635d;
  }
  
  .process__steps .step4:after {
    bottom: -106.0660px;
    border-bottom: solid 5.6569px #fc635d;
    border-left: solid 5.6569px #adadad;
  }

/* ----------------- */
.step__img {
    position: relative;
    width: 262px; 
    height: 151.27px;
    margin: 75.63px 0;
    background-image: url(../img/stepimg.png);
    background-size: auto 293.2939px;
    background-position: center;
    border-left: solid 4px #adadad;
    border-right: solid 4px #adadad;
  }
  
  .hexTop,
  .hexBottom {
    position: absolute;
    z-index: 1;
    width: 185.26px;
    height: 185.26px;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 34.37px;
  }
  
  /*counter transform the bg image on the caps*/
  .hexTop:after,
  .hexBottom:after {
    content: "";
    position: absolute;
    width: 254.0000px;
    height: 146.64696837416494px;
    -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-73.3235px);
    -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-73.3235px);
    transform:          rotate(45deg) scaleY(1.7321) translateY(-73.3235px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  
  .hexTop {
    top: -92.6310px;
    border-top: solid 5.6569px #adadad;
    border-right: solid 5.6569px #fc635d;
  }
  
  .hexTop:after {
    background-position: center top;
  }
  
  .hexBottom {
    bottom: -92.6310px;
    border-bottom: solid 5.6569px #adadad;
    border-left: solid 5.6569px #adadad;
  }
  
  .hexBottom:after {
    background-position: center bottom;
  }
  
  .hexagon:after {
    content: "";
    position: absolute;
    top: 2.3094px;
    left: 0;
    width: 254.0000px;
    height: 146.6470px;
    z-index: 2;
    background: inherit;
  }

/* ----------------- */
.step__wrapper {
    position: relative;
    z-index: 2;
    max-width: 130px;
    margin: 0 auto;
}
.item4 .step__wrapper {
    max-width: 200px;
}

.step__content {
    position: absolute;
    top: -10px;
    line-height: 17px;
}

.step__content h3 {
    position: relative;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 17px;
}
.step__content h3::after {
    content: '';
    position: absolute;
    width: 76px;
    height: 1px;
    background: #adadad;
    bottom: -7px;
    left: calc( 50% - 38px );
}
.step__content h3 span{
    color: #fc635e;
}

.step img {
    position: absolute;
    z-index: 3;
    top: -19px;
    left: -19px; 
}
.step .step4__img {
    top: 234px;
    left: 126px;
}

/* ----------------- */



/* ----------------- */ 